{% extends 'base.html' %}

{% block page_content %}
<div class='container-fluid'>
    <div class='row'>
        {% for set in sets %}
            <div class='col' style='padding-bottom: 2rem;'>
                <div class='card' style='width: 18rem; height: 32rem; padding-bottom: 2rem; padding-top: 2rem;'>
                    <div style='min-height: 14rem;'>
                        <img src='{{ set.logo_url }}' class='card-img-top' style='width: 16rem; height: auto; padding-top: 2rem; padding-left: 2rem; padding-bottom: 2rem;'>
                    </div>
                    <div class='card-body'>
                        <div class='container'>
                            <div class='row'>
                                <div class='col'>
                                    <img src='{{ set.symbol_url }}' style='width: auto; height: 3rem; align-self: center; padding-top: 1rem;'>
                                </div>
                                <div class='col'>
                                    <h5 class='card-title'>{{ set.name }}</h5>
                                    <p class='card-text'>Release Date {{ set.release_date }}</p>
                            </div>
                        </div>
                    </div>
                        <a href='{{ set.link }}' class='stretched-link'></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
